
.Parent {
  display: flex;
  flex-direction: row;
}

.LeftChild {
  height: 300px;
  margin: 300px 10% 0 10%;

  &:hover {
    transform: translate(-10px, -10px);
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
  }

  @media screen and (max-width: 425px) {
    display: none;
  }
}

.RightChild {
  margin: 0 10% 0 0;

  //@media screen and (max-width: 425px) {
  //  margin: 100px 10% 0 10%;
  //}
}