.ProjectBoxStyled {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.ProjectBoxContent {
  margin-top: 25px;
  width: 100%;
}

.ProjectBoxSize {
  width: 80%;
  height: 100%;
}

.ImageStyled {
  display: flex;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 15px;
}

.Icons {
  display: flex;
  height: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 0 #000000;
  margin-left: 20px;

  &:hover {
    cursor: pointer;
    box-shadow: none;
    transform: translate(5px, 5px);
  }
}

.Titles {
  display: flex;
  flex-direction: column;
}

.BottomTitle {
  display: flex;
}

.Links {
  display: flex;
}

.Socials {
  display: flex;
  margin-left: auto;
}