@use "styles/colors";
$primary-purple: #624A73;
$secondary-purple: #503A60;
$grey-shadow: rgba(0, 0, 0, 0.25);

.NavBarStyled {
    height: 65px;
    display: flex;
    align-items: center;
    margin: 15px 0px 15px 0px;
}

.Logo {
    height: 45px;
    cursor: pointer;
    margin-left: 2rem;
}

.TabsList {
    display: flex;
    list-style: none;
    gap: 5rem;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 3rem;

    @media screen and (max-width: 1024px) {
        gap: 1rem;
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.Tab {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    display: inline;
}

.TabBox {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 5px 5px 0px #000000;
    border-radius: 4px;
    padding: 1px 15px 1px 15px;

    &:hover {
        cursor: pointer;
        box-shadow: none;
        transform: translate(5px, 5px);
    }
}

.HamburgerStyled {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 2rem;
    display: none;

    @media screen and (max-width: 768px) {
        display: flex;
    }
}

.HamburgerImg {
    height: 20px;
    cursor: pointer;
}